[2019-03-29 19:55] CAMOBAP795 opened #1 "Eliminate ruby-xslt dependency"
List of repos which uses `ruby-xslt`
 - [`metanorma/isodoc`](https://github.com/metanorma/isodoc)
 - [`metanorma/metanorma-m3d`](https://github.com/metanorma/metanorma-m3d)
 - [`metanorma/html2doc`](https://github.com/metanorma/html2doc)
 - [`metanorma/metanorma-csand`](https://github.com/metanorma/metanorma-csand)

Remove `ruby-xslt` installation once it will be removed from repos above

cc @rona

[2019-03-30 05:29] ronaldtse commented on #1
Agree. Thanks for researching into this @CAMOBAP795

[2019-03-31 18:46] CAMOBAP795 commented on #1
Related issues:
 - https://github.com/metanorma/isodoc/issues/89
 - https://github.com/metanorma/metanorma-m3d/issues/10
 - https://github.com/metanorma/html2doc/issues/21
 - https://github.com/metanorma/metanorma-csand/issues/7

[2019-03-31 20:18] CAMOBAP795 opened #2 "Appveyor doesn't support _trunk out of box"
Looks like Appbeyor doesn't support `_trunk` out of box, but this can be fixed by https://github.com/MSP-Greg/appveyor_ruby

cc @ronaldtse

[2019-04-01 01:23] ronaldtse commented on #2
I don’t think we need to test trunk at this point on AppVeyor.

[2019-04-01 06:19] CAMOBAP795 commented on #2
@ronaldtse ok, should I close this one or just keep it?

[2019-04-01 06:47] ronaldtse commented on #2
Closing now.

[2019-04-01 06:47] #2 closed

[2019-04-03 10:56] ronaldtse commented on #1
@CAMOBAP795 please help proceed with these. Thanks!

[2019-04-04 20:00] CAMOBAP795 commented on #1
Only https://github.com/metanorma/html2doc/pull/22 left

[2019-04-05 12:34] CAMOBAP795 commented on #1
Merged waiting for release of those dependencies

[2019-04-07 14:58] CAMOBAP795 opened #3 "Appveyour gem caching"
- https://www.appveyor.com/docs/lang/ruby/#caching

[2019-04-15 06:39] CAMOBAP795 commented on #3
Based on https://github.com/metanorma/metanorma/pull/51 PoC we got boost +1-2min for single ruby version, as a result for single PR we may have 3-6min boost which is good because Appveyor didn't allow parallel runs

I plan to proceed with this for other repositories in the 'free' time

cc @ronaldtse

[2019-04-15 06:48] CAMOBAP795 opened #4 "plantuml installation via brew extremely slowdown CI"
The solution which was introduced by me `brew install plantuml` take much more time in comparison with the previous one

[code]

I need to check it on OSX and try different URL (maybe https://vorboss.dl.sourceforge.net/project/plantuml/1.2019.4/plantuml.1.2019.4.jar) to download because the current one takes up to 1 min to get it

[2019-04-15 06:48] CAMOBAP795 commented on #4
cc @ronaldtse

[2019-04-15 07:03] ronaldtse commented on #4
Our Homebrew metanorma formula depends on plantuml, so the solution here is to give an alternative URL for the brew formula. If possible, notice the original URL points to a site “jaist” which is in Japan. If we can get rid of this it should be fine?

[2019-04-15 07:11] ronaldtse commented on #3
Good idea, please help proceed when you have time!

[2019-04-15 09:07] CAMOBAP795 commented on #4
@ronaldtse original topic about speedup CI for our `homebrew-metanorma` with `plantuml` dependency is ok.

But `brew install plantuml` too slow because of it lead to `brew update`, if we will install it different way we may get a speedup +>5min

[2019-04-21 07:34] CAMOBAP795 commented on #4
Affected repos:
 - [ ] metanorma-iso
 - [ ] metanorma-rsd
 - [ ] unicode2latex
 - [ ] metanorma-csand

[2019-04-24 19:23] CAMOBAP795 commented on #1
Done https://github.com/metanorma/metanorma-build-scripts/commit/7921f490f810dea8b6bbcefcffc64929befad960

[2019-04-24 19:23] #1 closed

[2019-04-24 19:24] CAMOBAP795 commented on #4
PoC works perfectly will be finished by after https://github.com/metanorma/metanorma/issues/48 implementation

[2019-04-24 19:24] CAMOBAP795 commented on #3
Will be finished by after https://github.com/metanorma/metanorma/issues/48 implementation

[2019-04-28 08:41] ronaldtse opened #5 "Add deploy-to-gh-pages.sh script!"
@CAMOBAP795 in our templates the Travis script is calling this:

[2019-04-28 21:05] CAMOBAP795 commented on #5
@ronaldtse should be the same as https://github.com/metanorma/unece-cefact-recommendation-42/blob/master/deploy.sh ?

[2019-04-29 15:38] ronaldtse commented on #5
It's working now!!

[2019-04-29 15:38] #5 closed

[2019-05-02 10:37] ronaldtse opened #6 "Travis Ubuntu install of metanorma is now over 10 minutes"
Typically the script is run like this:

[code]

1. There's lots of LaTeXML tests being run
2. Node install takes a long time
3. Compilation of libsass takes a long time
4. The logs become very long (the installation logs should be cut down or at least folded)

[2019-05-04 11:38] CAMOBAP795 commented on #6
In progress

[2019-05-09 21:27] CAMOBAP795 commented on #6
Fixed in https://github.com/metanorma/metanorma-linux-setup/pull/9

Unfortunately, I didn't see an option to avoid it

I see almost on each CI run for different gems

[code]

@ronaldtse  Is this related to us, how exactly we use `libsass`?

I think it's related to point 1 in the list

[2019-05-10 09:53] ronaldtse commented on #6
The `sass` gem deprecation is dealt with here: https://github.com/metanorma/isodoc/issues/100 .

[2019-05-18 08:28] ronaldtse commented on #6
And metanorma/isodoc#100 has been resolved.

For libsass, it seems that Xenial contains it (https://launchpad.net/ubuntu/+source/libsass). Or is it too old?

[2019-06-02 20:52] CAMOBAP795 commented on #3
Done

[2019-06-02 20:53] #3 closed

[2019-06-02 20:57] CAMOBAP795 commented on #4
Done

[2019-06-02 20:57] #4 closed

[2019-06-08 08:19] CAMOBAP795 commented on #6
@ronaldtse BTW https://rubygems.org/gems/sassc/versions already testing prebuild for windows & linux

[2019-06-08 08:19] ronaldtse commented on #6
@CAMOBAP795 that's great to know! Please keep an eye on it and incorporate it whenever we can.

[2019-06-11 18:42] CAMOBAP795 commented on #6
@ronaldtse yep once `sassc` gem will be released it will be 'incorporated' automatically (because `~> 2` version rule) I will just control that CI is green

[2019-06-15 11:08] opoudjis opened #10 "Update bundler?"
We don't fail Travis builds if the latest version of Ruby fails, but the ruby head build, Travis Ruby 2.6.*, is now failing because we're using an obsolete version of Builder:

[code]

Should we globally switch to `bundler ~> 2`?

[2019-06-15 11:17] CAMOBAP795 commented on #10
@opoudjis is there a possible a backward compatibility issue?

[2019-06-16 16:35] ronaldtse commented on #10
@opoudjis we can just remove the last two lines in Gemfile.lock:

[code]

And it will run fine with either bundler version.

[2019-06-25 13:24] opoudjis commented on #10
@CAMOBAP795 I don't know anything about Bundler, so I can't answer the question.

@ronaldtse The file is `BUNDLED WITH 2.0.1`, and for half the gems, Gemfile.lock is not even included. That is not a solution, and it is sad that people in bundler are actually suggesting it as one.

Bundler is up to 2.0.2. I strongly suggest we move to `bundler ~> 2`.

[2019-06-25 16:46] ronaldtse commented on #10
Sure, let's do it. I believe we meet the prerequisites for it:

---
Before you upgrade to Bundler 2, make sure you have the right Ruby and RubyGems. You need to be using Ruby 2.3.0 or higher, and you need to have RubyGems 2.5.0 or higher.

You can check your Ruby version by running ruby --version, and you can check your RubyGems version by running gem --version. If you need to upgrade Ruby, use yo

[2019-07-02 16:37] CAMOBAP795 commented on #10
@ronaldtse @opoudjis just to be on the same page are this task for CI configuration or for gemspec too?

[2019-07-03 01:06] opoudjis commented on #10
Clearly for CI config; it does in fact apply to gemspec as well, but I'll change those manually. Assigning myself ticket as well.

[2019-07-03 07:02] CAMOBAP795 commented on #10
I will work on it

[2019-07-03 09:28] CAMOBAP795 commented on #10
@ronaldtse could you please check those PRs once they are ok, I will proceed with this one

 - https://github.com/metanorma/mn-itu-docs/pull/4
 - https://github.com/metanorma/ogc-tcpnp/pull/8/
 - https://github.com/metanorma/unece-cefact-plenary-2018-6/pull/4/
 -https://github.com/metanorma/csd-public-documents/pull/5

[2019-07-04 06:55] CAMOBAP795 commented on #10
Update: Generally most of the repose green, but for some, I have issues which not related to PR

Not fixed
 - [ ] metanorma/relaton-cli#233 - cannot load such file -- relaton/cli/yaml_convertor_new

Fixed
 - [x] metanorma/iso690render#9 - undefined method `parse' for Iso690Render:Module
 - [x] metanorma/metanorma-rsd#178 - OSX node error: SyntaxError: Unexpected token (
 - [x] metanorma/metanorma-

[2019-07-04 12:27] CAMOBAP795 commented on #10
Merged:
 - https://github.com/metanorma/cnccs/pull/4
 - https://github.com/metanorma/csa-ccm-tools/pull/9
 - https://github.com/metanorma/csd-public-documents/pull/6
 - https://github.com/metanorma/gb-agencies/pull/2
 - https://github.com/metanorma/html2doc/pull/29
 - https://github.com/metanorma/relaton-iec/pull/10
 - https://github.com/metanorma/relaton-ietf/pull/23
 - https://github.com/metanor

[2019-07-04 12:33] CAMOBAP795 opened #14 "Add mn-templates-* repos to ci.yml"
Take https://github.com/metanorma/mn-templates-ietf/pull/3 approach as reference

[2019-07-06 09:17] #10 closed

[2019-07-06 12:26] CAMOBAP795 commented on #14
- https://github.com/metanorma/mn-templates-csd/pull/8
 - https://github.com/metanorma/mn-templates-iso/pull/4
 - https://github.com/metanorma/mn-templates-ietf/pull/3
 - https://github.com/metanorma/mn-templates-ogc/pull/6

[2019-07-06 14:28] CAMOBAP795 commented on #6
Update, `xenial` take 2x less time then `trusty`
 - gems installed 2x faster
 - there is no `sassc` compilation

@ronaldtse do we really need to use nvm for `node`, I think we can speed up the installation if we will  rely on existing nodejs package. how do you think?

[2019-07-06 14:39] ronaldtse commented on #6
@CAMOBAP795 agree:

* add code to check if there is `nodejs` and `npm` from package, and install puppeteer from there.
* if no `nodejs` etc, use `nvm`.

[2019-07-06 14:45] CAMOBAP795 commented on #6
@ronaldtse ok

[2019-07-06 15:17] CAMOBAP795 commented on #6
@ronaldtse no valuable speedup, I propose close this task in favor of https://github.com/metanorma/metanorma-linux-setup/issues/13

How do you think?

[2019-07-07 01:32] ronaldtse commented on #6
@CAMOBAP795 I agree to use snap instead this script. Let's close this then.

[2019-07-07 01:32] #6 closed

[2019-07-07 23:58] opoudjis commented on #10
@CAMOBAP795 I am unblocking relaton-cli, was in the middle of major refactor

[2019-07-18 07:04] CAMOBAP795 commented on #14
done

[2019-07-18 07:04] #14 closed

[2019-07-18 07:06] CAMOBAP795 opened #18 "Should we add add 2.6 to CI matrix for all repos"
@ronaldtse subj

[2019-07-18 07:55] ronaldtse commented on #18
Yes indeed! We should add Ruby matrices to all the coding repos. (Ie. Not the document repos) Thanks!

[2019-07-18 07:55] CAMOBAP795 commented on #18
Cool, I will proceed

[2019-07-19 10:45] CAMOBAP795 commented on #18
- https://github.com/metanorma/metanorma-build-scripts/pull/19

[2019-07-19 13:21] CAMOBAP795 commented on #18
Unfortunately [nokogiri bellow 1.10.0 will not work with ruby 2.6 on windows](https://github.com/sparklemotion/nokogiri/releases/tag/v1.10.0).

For now, we use several gems which restrict update:
 - https://github.com/metanorma/relaton-bib/blob/master/relaton-bib.gemspec#L36
 - https://github.com/metanorma/relaton-iso-bib/blob/master/relaton_iso_bib.gemspec#L38
 - https://github.com/metanorma/iso-

[2019-07-19 15:49] opoudjis commented on #18
iso-bib-item is obsolete; @andrew2net please deprecate it on Github.

@andrew2net maintains the other two gems. I can't imagine there'll be a problem, but that's his call.

[2019-07-19 16:21] ronaldtse commented on #18
As long as the new nokogiri version works on all platforms, we should upgrade. Thanks!

[2019-07-20 09:38] CAMOBAP795 opened #20 "travis-ci.com or travis-ci.org?"
I noticed that for some repositories we run CI on both
 - travis-ci.com
 - travis-ci.org

Example:
 - https://travis-ci.com/metanorma/homebrew-metanorma/builds
 - https://travis-ci.org/metanorma/homebrew-metanorma/builds

[2019-07-20 09:41] CAMOBAP795 commented on #18
`relaton-bib`'s tests passed with `nokogiri "~1.10"`

 @opoudjis may I ask you for help with releasing `relaton-bib`, no rush

[2019-07-21 20:22] ronaldtse commented on #20
@CAMOBAP795 travis-ci.org is transitioning to travis-ci.com. In the future we want to only use travis-ci.com. However, Travis has not enabled the transition between travis-ci.org to travis-ci.com yet. This means we prefer using travis-ci.com over travis-ci.org.

[2019-07-21 20:24] CAMOBAP795 commented on #20
Thanks for explanation

[2019-07-21 20:24] #20 closed

[2019-07-22 08:46] CAMOBAP795 commented on #18
Double-check these ones:
 - https://github.com/metanorma/metanorma-standoc/pull/88
 - https://github.com/metanorma/relaton-server-csd/pull/3
 - https://github.com/metanorma/relaton-cli/pull/60
 - https://github.com/metanorma/iso-bib-item/pull/11

 - https://github.com/metanorma/metanorma-cli/pull/102 (keep)

[2019-07-23 13:41] opoudjis commented on #18
@CAMOBAP795 Relaton is the responsibility of @andrew2net  , please check in with him.

[2019-07-23 15:37] andrew2net commented on #18
@CAMOBAP795 I just released all `relaton*` gems

[2019-07-24 06:38] CAMOBAP795 commented on #18
Done

[2019-07-24 06:38] #18 closed

[2019-09-23 02:31] opoudjis opened #22 "xcode compilation breaking Travis metanorma-standoc"
issue so far restricted to metanorma-standoc, OSX builds; other gems building fine:

[code]

[2019-09-23 02:33] ronaldtse commented on #22
Recently I had to do xcode-install to agree to the new Apple Xcode agreement; this is probably due to the update of macOS.

metanorma-standoc requires Xcode because of the `sassc` gem and `nokogiri`.

[2019-09-27 23:31] CAMOBAP795 commented on #22
@ronaldtse looks like Travis issue doesn't relate to Xcode agreement. It's just took to long to install gem, BTW now the issue resolved

So I propose to close this one

[2019-09-27 23:31] #22 closed

[2019-09-27 23:32] CAMOBAP opened #23 "Move to GH Actions from travis"
cc @ronaldtse

 - [x] port travis/appveyor configuration to GH Actions
 - [x] disable travis/appveyor for those repos
 - [x] fix badges

[2019-09-28 00:07] ronaldtse commented on #22
OK. Thanks. I think we need to migrate this repo and other ones to GitHub actions. Travis is rather flaky.

[2019-09-29 19:36] CAMOBAP795 commented on #23
- [x] https://github.com/metanorma/mn-templates-csd/pull/10 -  issues for windows was discovered
 - [x] https://github.com/metanorma/metanorma-csand/pull/18
 - [x] https://github.com/metanorma/metanorma-acme/pull/11
 - [x] https://github.com/relaton/relaton-models/pull/21
 - [x] https://github.com/relaton/relaton-bib/pull/14
 - [ ] https://github.com/metanorma/mn-samples-ogc/pull/7 - troubles with

[2019-09-29 19:40] ronaldtse commented on #23
@CAMOBAP795 regarding LaTeXML problems, you can try to first fix Snap LaTeXML and use the snap inside. The same with chocolatey.

[2019-10-01 08:17] skalee opened #24 "No tests on pull requests?"
Is there any good reason for:

[code]

instead of:

[code]

Running tests on `push` event will run tests on the last commit of given branch, but will not take into account commits, which are present on `master` branch, but not on tested branch. Also, I suppose, no tests will be run for pull requests coming from forked repositories.

[2019-10-01 09:07] ronaldtse commented on #24
@skalee yes you’re right and that’s what we have to fix across repos. We currently use the “ci-master” tool/repo to do so, but I need some time to find out how to use it...

[2019-10-02 00:08] ronaldtse opened #25 "Don't fail-fast and increase concurrent jobs for matrix jobs"
https://help.github.com/en/articles/workflow-syntax-for-github-actions

`jobs.<job_id>.strategy.fail-fast`

When set to true, GitHub cancels all in-progress jobs if any matrix job fails. Default: true

`jobs.<job_id>.strategy.max-parallel`

The maximum number of jobs that can run simultaneously when using a matrix job strategy. By default, GitHub will maximize the number of jobs run in parallel de

[2019-10-02 00:12] ronaldtse opened #26 "Remove AppVeyor for all builds that have migrated to GHA"
@CAMOBAP795 we need to remove AppVeyor for all builds migrated to GHA.

[2019-10-02 07:04] CAMOBAP795 commented on #26
@ronaldtse done for all repos for which we merged PRs

[2019-12-09 02:44] ronaldtse opened #27 "Update `ghactions-deploy-to-gh-pages.sh` when GHA supports GITHUB_TOKEN deployment"
https://github.community/t5/GitHub-Actions/Github-action-not-triggering-gh-pages-upon-push/td-p/26869/highlight/true/page/2

[2019-12-22 19:02] CAMOBAP opened #28 "Should we add CodeClimate to all repos?"
https://gist.github.com/jcypret/608731eed983dd46a9e7447791c86cdb

@ronaldtse how do you think about this?

For ubuntu only flows

[2019-12-22 23:09] opoudjis opened #29 "Repair GitHub Action build scripts for relaton-iev"
The relaton-iev build scripts contain

[code]

submodules is not supported in GitHub Actions, and there are not submodules in relaton-iev anyway. I could not find any instances of submodules in metanorma/metanorma-build-scripts, but just in case, please check that submodules are not being added now into any GitHub Action scripts. (This is the only instance I could find in my local copy of relaton

[2019-12-23 14:43] ronaldtse commented on #28
@CAMOBAP795 yes we should! But this method requires us to add a `secret` per repo. Our CodeClimate account can already access our repos, not sure what's the way to ensure they are added (we previously added them via the UI interface).

[2020-01-06 19:53] CAMOBAP795 commented on #25
Already done 83e54455d5fa57c3fa33abbf0e296b52957eb24f

[2020-01-06 19:53] #25 closed

[2020-01-06 20:26] CAMOBAP795 commented on #26
Done

[2020-01-06 20:26] #26 closed

[2020-01-06 20:30] CAMOBAP795 commented on #29
This is how submodules checkout can be done https://github.com/actions/checkout#checkout-submodules

@opoudjis BTW if for `relaton-iev` we don't need submodules, what is the propose of this ticket?

[2020-01-11 04:27] ronaldtse commented on #29
Relaton-iec GHA is working, not sure what we need to repair. Closing.

[2020-01-11 04:27] #29 closed

[2020-01-13 08:08] CAMOBAP795 commented on #24
for now, we are using

[code]

I think this should fix the problem, @ronaldtse @skalee let me know if you see some issues with this implementation

[2020-01-13 08:09] ronaldtse commented on #24
Is there a difference with this?

[code]

[2020-01-13 08:16] CAMOBAP795 commented on #24
@ronaldtse I'm not sure if this valid YAML, if so I will update it

[2020-01-13 10:13] opoudjis commented on #29
*I* repaired the build script. I wanted it confirmed that submodules were not anywhere else in the build scripts module.

[2020-02-04 10:24] CAMOBAP795 opened #30 "Add README.md"

[2020-02-07 17:46] CAMOBAP795 commented on #30
- https://github.com/metanorma/ci-master/commit/27393b30ab61ad388a1f041b4de49046d19ae375
 - https://github.com/metanorma/metanorma-build-scripts/commit/8b9a1757368f28daf5175b1c5a04344a46b8d6e3

[2020-02-07 17:46] CAMOBAP795 commented on #30
@ronaldtse please check

[2020-02-10 18:56] ronaldtse commented on #30
Rewrote READMEs. Closing.

[2020-02-10 18:56] #30 closed

[2020-03-10 08:03] CAMOBAP opened #32 "Trigger only modified workflow"
### Problem

For now, when we change specific GHA workflow file all flows will be triggered

### Solution

Use https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#excluding-paths to run only changed flow

[2020-03-12 21:04] CAMOBAP795 commented on #23
- chocolatey-latexml will be updated after https://github.com/metanorma/chocolatey-metanorma/pull/39

[2020-03-14 20:44] CAMOBAP795 commented on #23
Done

Except badges

[2020-03-19 17:28] CAMOBAP795 opened #33 "Clean up the gh-pages branch entirely on deployment"
"""
I'm thinking that we should always clean up the gh-pages branch entirely on deployment

There's no need to carry the gh-pages history

https://github.com/peaceiris/actions-gh-pages looks good to use
"""

[2020-03-19 17:52] CAMOBAP795 commented on #33
- Sounds like a solution https://stackoverflow.com/a/9254257/902217

[2020-03-20 00:54] ronaldtse commented on #33
@CAMOBAP795 I think we only need to turn this option on:

https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-force-orphan

There's no need to use the suggestion on the SO post.

[2020-03-20 15:15] CAMOBAP795 commented on #33
Blocked by https://github.com/metanorma/metanorma-linux-setup/issues/23 I will check it first

[2020-03-20 15:34] CAMOBAP795 opened #34 "gem install unf_ext failed on windows"
https://github.com/metanorma/mn-samples-itu/pull/68/checks?check_run_id=522010507 & all mn-samples-* repos

Kind of known issue https://github.com/knu/ruby-unf_ext/issues/52

I will check what we can do about this

[code]

[2020-03-21 00:13] ronaldtse commented on #34
@CAMOBAP795 thanks for the research. How about in we require relaton-un to use unf_ext 0.0.7.5?

[2020-03-21 15:51] CAMOBAP795 commented on #34
@ronaldtse nice idea I have tried & it works for 2.4, 2.5 but not for 2.6 because unf_ext@0.0.7.5 require ruby < 2.6

[2020-03-21 17:06] ronaldtse commented on #34
How about 0.0.7.4? Some version must have worked since it used to build on Windows?

[2020-03-24 10:12] ronaldtse opened #35 "Unify Makefile for all mn-samples-*"
The Makefile in mn-samples-itu and mn-samples-ogc are now identical, and I've tried it for mn-samples-ietf as well. It should work for all mn-samples-*.

This task is to add the Makefile to cimas config and apply them across all mn-samples-*.

[2020-03-26 14:55] CAMOBAP795 opened #36 "Remove `bundle update` from CI configuration"
- https://github.com/relaton/relaton-iev/pull/10#discussion_r398635788

[2020-03-28 19:58] CAMOBAP795 commented on #34
@ronaldtse you are right 0.0.7.2 works for all platform so we fixated this in https://github.com/relaton/relaton-un/

I think we can close this because the issue is external, I will fix Gemfile till `relaton-un` in the scope of  https://github.com/metanorma/metanorma-build-scripts/issues/35

[2020-03-28 19:58] #34 closed

[2020-03-28 22:38] CAMOBAP795 commented on #33
Tested on https://github.com/metanorma/mn-samples-itu/runs/542358495?check_suite_focus=true looks great

I will propagate this to other repos

[2020-03-29 14:47] ronaldtse commented on #33
Thanks! Feel free to close this when done.

[2020-03-29 17:16] CAMOBAP795 commented on #27
@ronaldtse looks like not actually anymore because of https://github.com/metanorma/metanorma-build-scripts/issues/33

https://github.com/peaceiris/actions-gh-pages#supported-tokens - support it already

So looks like we can close it

[2020-03-30 01:57] ronaldtse commented on #27
Good! Thanks!

[2020-03-30 01:57] #27 closed

[2020-03-30 17:42] CAMOBAP795 commented on #33
Two repos left:
 - https://github.com/metanorma/mn-samples-mpfa/pull/19
 - https://github.com/metanorma/mn-samples-ietf/pull/8

[2020-04-02 09:26] CAMOBAP795 commented on #36
Done

[2020-04-02 09:26] #36 closed

[2020-04-02 09:27] CAMOBAP795 commented on #35
Done for Both Makefile & Makefile.win

[2020-04-02 09:27] #35 closed

[2020-04-02 09:27] CAMOBAP795 commented on #33
Done

[2020-04-02 09:27] #33 closed

[2020-04-02 09:28] CAMOBAP795 commented on #24
Done (a while ago)

[2020-04-02 09:28] #24 closed

[2020-04-02 17:05] CAMOBAP795 commented on #23
@ronaldtse per https://github.com/search?q=org%3Ametanorma+filename%3A.travis.yml&unscoped_q=filename%3A.travis.yml

We still have travis/appveyour configuration in some repos:
 - `mn-samples-*` in `common` directory
 -  https://github.com/metanorma/metanorma-cli/tree/master/templates/base
 - `rfc-*` repos

Should they be moved to GHA too?

[2020-04-02 17:18] ronaldtse commented on #23
Yes, please. I already stopped all Travis/AppVeyor projects, so please help migrate any missed ones.

[2020-04-03 04:40] ronaldtse commented on #23
Which common directory do you mean?

[2020-04-03 07:56] ronaldtse commented on #23
Yes we should update all the mn-templates-* repos to have the new common files. Thanks!

[2020-04-03 07:57] ronaldtse commented on #23
Replace the Travis files with GHA files please. The templates are used when users want to create a new document.

[2020-04-20 14:43] CAMOBAP opened #37 "Keep only docker configuration for private repos"
Based on discussion with @ronaldtse

[2020-04-20 22:29] CAMOBAP795 commented on #37
@ronaldtse full list of private repos is https://github.com/metanorma?q=&type=private&language=

But we used GHA only in two of them:
 - https://github.com/metanorma/mn-samples-nist/pull/14
 - https://github.com/metanorma/iso-10303/pull/20

Should I add GHA to all private repos?

[2020-04-22 17:54] ronaldtse commented on #37
Yes please!

In mn-samples-nist and mn-templates-nist, we want to enable Windows also because Windows compilation is important.

[2020-04-27 11:38] CAMOBAP opened #38 "Remove puppeteer from some repos"
puppetteer has been supplanted by apache XSL:FO
for:
nist ogc csd iso iec rsd

[2020-04-30 15:13] CAMOBAP795 commented on #38
Done in https://github.com/metanorma/metanorma-build-scripts/commit/673c13343644630baea94d64df4db3244fdac44f

[2020-04-30 15:23] CAMOBAP opened #39 "Action failed with "ENOENT: no such file or directory, scandir '/home/runner/work/mn-samples-iso/mn-samples-iso/published'""
Problem https://github.com/metanorma/mn-samples-iso/runs/632875985?check_suite_focus=true

Fix https://github.com/metanorma/mn-samples-iso/commit/3f424186da212bcc40767c50ab57c8dca17ec093

Or explicitly setup path if using v2

cc @ronaldtse

[2020-04-30 21:10] CAMOBAP795 commented on #37
@ronaldtse two questions:
 - should we remove any workflows except docker in https://github.com/metanorma/mn-native-pdf-nist ?
 - I propose to remove ruby matrix from all samples (documentation) repos, because we use chocolatey, brew & Linux script which installs a specific version of ruby

[2020-04-30 23:51] opoudjis commented on #38
Sorry! I've missed:

* csa (which I've told you off band)
* un
* itu

The goal is to get rid of puppeteer completely; the following still use puppeteer:

* m3d
* mpfd
* vsd

@ronaldtse These are surely also candidates for culling.

[2020-05-01 08:13] CAMOBAP795 commented on #38
np @opoudjis thanks for the update, I will update them too

[2020-05-01 10:43] CAMOBAP795 commented on #38
@opoudjis @ronaldtse repos bellow still require puppeteer
 - https://github.com/metanorma/metanorma-m3d/pull/37
 - https://github.com/metanorma/metanorma-vsd/pull/22
 - https://github.com/metanorma/metanorma-mpfd/pull/41

Should I update some dependency versions in Gemfile for those repos?

[2020-05-01 11:27] CAMOBAP opened #40 "##[error]Artifact storage quota has been hit. Unable to upload any new artifacts"
Possible solution https://github.com/marketplace/actions/purge-artifacts

[2020-05-01 13:59] ronaldtse commented on #38
@CAMOBAP795 can you disable PDF output for m3d, vsd and mpfd? Then we can get rid of puppeteer.

[2020-05-01 14:02] CAMOBAP795 commented on #38
@ronaldtse if we talk in the scope of those PRs which listed above to disable PDF we will need to modify tests, to me it looks like the wrong way to solve.

Because we use cimas, I think we can just postpone update till those processors will really go out of puppeteer

Make sense?

[2020-05-01 14:12] ronaldtse commented on #38
I think we should comment out PDF for these flavors. No one uses these flavors for PDF functionality.

[2020-05-01 14:26] CAMOBAP795 commented on #38
@ronaldtse could you please check this commit https://github.com/metanorma/metanorma-m3d/pull/38/commits/8811235c33fd6c20dc81b81f0454567d88b4a645

Is this what needs to be done?

[2020-05-01 15:34] ronaldtse commented on #37
I think we need to keep Windows workflow in mn-native-pdf-nist because we want to make sure the NIST stylesheet runs on Windows and Ubuntu.

Agree.

We should keep them in case one day GitHub allows gh-pages for private repos.

[2020-05-01 15:42] ronaldtse commented on #38
@CAMOBAP795 :  @opoudjis thoughts?

[2020-05-01 15:44] CAMOBAP795 commented on #38
thanks to @opoudjis, he already reviewed & merge PR's related to this

[2020-05-01 16:35] ronaldtse commented on #40
@CAMOBAP795 agree, let's do that.

[2020-05-01 16:37] ronaldtse commented on #38
Nice, thanks!

[2020-05-01 21:48] CAMOBAP795 commented on #37
Done

[2020-05-02 10:52] CAMOBAP commented on #40
Done

[2020-05-02 10:52] #40 closed

[2020-05-02 11:11] CAMOBAP commented on #39
Done

[2020-05-02 11:11] #39 closed

[2020-05-02 11:12] CAMOBAP commented on #38
I think we can close this one because all repos where we can remove puppeteer updated

If there is still something missed, feel free to reopen this

[2020-05-02 11:12] #38 closed

[2020-05-02 11:14] CAMOBAP commented on #37
Unfortunately, I cannot check it because we already reached GHA limit, IDK how it's possible today only May 2

@ronaldtse maybe you have access to some dashboard, which show some details about how we spent our time,

[2020-05-02 12:36] CAMOBAP opened #41 "Add packed-mn testing on public samples repos"
Add packed-mn testing on public samples repos  alongside with docker & ruby metanorma

@ronaldtse how do you think, make sense?

[2020-05-02 12:37] ronaldtse commented on #41
Makes sense! 👍

[2020-05-02 12:37] ronaldtse commented on #41
(As long as it works...) 😓

[2020-05-02 14:45] CAMOBAP commented on #23
PRs prepared
@ronaldtse please check https://github.com/metanorma/mn-templates-itu/pull/13 if it ok, I will merge the rest too

[2020-05-02 23:16] CAMOBAP commented on #23
Done

[2020-05-02 23:16] #23 closed

[2020-05-03 09:15] CAMOBAP commented on #28
@ronaldtse looks like https://github.com/houndci/hound & https://docs.codeclimate.com/ doing pretty much the same https://stackshare.io/stackups/code-climate-vs-hound#

Will we use both or stay with some of them?

[2020-05-03 09:27] ronaldtse commented on #28
Hound is much easier to manage. Let’s close this ticket then.

[2020-05-03 09:30] #28 closed

[2020-05-03 15:01] ronaldtse commented on #37
@CAMOBAP i don't know either. The GHA details are not very visible...

[2020-05-04 11:58] CAMOBAP commented on #32
@ronaldtse let me know how do you think regarding this https://github.com/metanorma/metanorma-build-scripts/commit/18006ec88d89f0b8430a6a91cb0e8ce68a76035f

I think it makes sense to add it to all repositories, to minimize unwanted CI runs

[2020-05-04 13:32] ronaldtse commented on #32
Great idea @CAMOBAP , fully agree. Please proceed with it!

[2020-05-05 12:36] CAMOBAP commented on #37
ok, formally the task is done

[2020-05-05 12:36] #37 closed

[2020-05-05 15:34] CAMOBAP commented on #32
Fixed, will be updated on next cimas run

[2020-05-05 15:34] #32 closed

[2020-06-17 14:03] CAMOBAP opened #42 "Should we remove puppeteer from all gems?"
@ronaldtse could you please confirm that we can remove puppeteer form all gems?

cc @opoudjis

[2020-06-17 14:37] ronaldtse commented on #42
At the moment, yes please.

[2020-06-24 07:30] CAMOBAP commented on #42
Implemented, ci configuration will be propagated soon

[2020-06-25 09:11] CAMOBAP opened #43 "Add unsplash/comment-on-pr@master to notify that some other repositories was triggered"

[2020-07-03 15:51] CAMOBAP commented on #42
done

[2020-07-03 15:51] #42 closed

[2020-07-03 15:52] CAMOBAP opened #44 "Try to merge as much configuration as possible in a single yml file"
cc @ronaldtse

[2020-07-03 16:20] ronaldtse commented on #44
Thanks!

[2020-07-03 16:20] ronaldtse commented on #44
The goal is to merge the platforms: macOS, Ubuntu, Windows, Docker into a single test workflow.

[2020-07-05 09:24] CAMOBAP opened #45 "Implement automerge for cimas' PRs"
https://github.com/marketplace/actions/merge-pull-requests

cc @ronaldtse

[2020-07-05 21:29] CAMOBAP opened #46 "All rfc-* repositories CI broken"
- https://github.com/metanorma/rfc-asciirfc-minimal/pull/11
 - https://github.com/metanorma/rfc-asciidoc-rfc/pull/25
 - https://github.com/metanorma/rfc-camelot-holy-grenade/pull/7
 - https://github.com/metanorma/rfc-divination-cfapi/pull/4
 - https://github.com/metanorma/rfc-asciirfc-minimal/pull/10
 - https://github.com/metanorma/rfc-asciidoc-rfc/pull/24
 - https://github.com/metanorma/rfc-camel

[2020-07-27 06:08] CAMOBAP opened #47 "Possibility to trigger workflow manually"
According to https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

GHA recently introduced a new `workflow_dispatch` event which allows to trigger workflows manually, with some input

@ronaldtse AFAIR that in the past we had some cases where this can be applied, could you please remind if you remember

[2020-08-01 11:19] CAMOBAP commented on #44
@ronaldtse as we discussed in one of packed-mn issues, in case if all platforms will be in the same file in case of failure on some platforms it will rerun all platforms

I propose to freeze this ticker till https://github.community/t/ability-to-rerun-just-a-single-job-in-a-workflow/17234 will be resolved

[2020-08-01 16:08] ronaldtse commented on #44
@CAMOBAP agree!

[2020-09-26 20:54] CAMOBAP opened #48 "cache bundle install step"
- https://github.com/rails/rails/pull/37612/files

[2020-10-12 10:20] CAMOBAP commented on #48
Implemented, bulk-update will start after https://github.com/metanorma/metanorma-ietf/issues/103 fix

[2020-10-23 08:27] CAMOBAP commented on #45
Trying on samples first first

[2020-10-26 05:58] CAMOBAP commented on #48
Done

[2020-10-26 05:58] #48 closed

[2020-10-26 05:59] CAMOBAP opened #49 "CI don't triggered on tags"
Regression after merge all workflows to a single one

[2020-10-26 05:59] CAMOBAP commented on #49
I will do 1.3.8 packed-mn release manually

[2020-10-26 06:05] CAMOBAP commented on #49
Also, badges weren't updated after merging os workflows to a single workflow, I will do this in the scope of this task also

[2020-10-26 06:05] CAMOBAP commented on #49
cc @opoudjis @ronaldtse

[2020-10-26 06:30] ronaldtse commented on #49
Thanks @CAMOBAP !

[2020-11-02 11:41] CAMOBAP commented on #49
Done

[2020-11-02 11:41] #49 closed

[2020-11-07 08:28] CAMOBAP commented on #45
auto-merge from the link above works really strange, it merges PR without waiting for checks, investigation in progress

[2020-11-07 08:42] CAMOBAP commented on #44
Decided to implement this to simplify configuration management

[2020-11-07 08:42] #44 closed

[2020-11-09 09:16] CAMOBAP opened #50 "Avoid double execution when tag is pushed"
Currently, when we doing a release and push tag, execution also happens for branch too, if there is a way to restrict it we should try to implement it

[2020-11-16 17:15] abunashir opened #51 "Upgrading cache action to the recent version"
Hi there, Recently while I was working on the CLI then I came across an issue related to the caching gems, and I suspect this might be related to an old version for cache action. Especially even after changing the `*.gemspec` file, it's was using the old hash key.

I temporarily updated it to `cache@v2` in the CLI and it seems to be fixing the issue for now, What do you guys think about updating t

[2020-11-16 17:16] ronaldtse commented on #51
@abunashir updating to `cache@v2` sounds fine with me. @CAMOBAP what do you think?

[2020-11-16 17:42] CAMOBAP commented on #51
Sounds good to me too, BTW @abunashir could you please post here links to CI runs which used outdated gems, to make sure that the issue was fixed by v2 exactly (not just because cache invalidation)

[2020-11-17 12:27] abunashir commented on #51
@CAMOBAP: You are right, I think the issue was mainly because of not invalidating the old cache, not necessarily for version 1. Eg: I changed the gemspec in this PR and I was expecting it to invalidate the old cache but for some reason, it was still failing  - https://github.com/metanorma/metanorma-cli/pull/187

But I do think there are some advantages of using `v2`, and for some reason, it did fi

[2020-11-24 12:11] w00lf opened #52 "Add graphviz to the base build image"
Currently we have a new macro from https://github.com/metanorma/metanorma-plugin-lutaml gem - lutaml_diagram, this macro render uml diagrams with graphviz `dot` command, so we need this tool in our build and docker images.

[2020-11-24 12:21] CAMOBAP commented on #52
Depends on https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1580

[2020-11-29 21:37] CAMOBAP commented on #47
Will be implemented on-demand

[2020-11-29 21:37] #47 closed

[2020-12-12 16:05] #51 closed

[2020-12-14 16:53] CAMOBAP opened #53 "Add docker font caching directory"
Based on https://github.com/metanorma/metanorma/issues/95#issuecomment-744565614

We need to implement it for samples and templates

[2020-12-22 10:51] abunashir opened #54 "Issue related to metanorma setup interface"
I came this CI failure here - [mn-templates-cc/pull/23/checks](https://github.com/metanorma/mn-templates-cc/pull/23/checks) and looks like it's because of the recently deleted `metanorma setup` interface. Most of the ci configuration still referencing it and that's causing those failures, should we consider removing this from the actions and update all the repos?

//cc: @CAMOBAP, @ronaldtse

[2020-12-22 10:55] CAMOBAP commented on #54
Yes exactly I will update templates

[2020-12-22 10:56] abunashir commented on #54
Perfect, thanks Alex!

[2020-12-22 11:07] CAMOBAP commented on #54
Waiting for CI to pass

[2020-12-22 11:33] CAMOBAP commented on #41
In fact, we already do this

[2020-12-22 11:33] #41 closed

[2020-12-22 12:12] #52 closed

[2020-12-22 12:15] CAMOBAP commented on #54
Merged

[2020-12-22 12:15] #54 closed

[2020-12-27 03:16] ronaldtse opened #56 "Run Cimas to ensure rfc-* workflows work"
@CAMOBAP could you help run Cimas to check if the rfc-* workflows work? Thanks!

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-build-scripts/issues/55#issuecomment-751420590_

[2020-12-27 07:07] CAMOBAP commented on #46
Closed in favor of #56 because https://github.com/metanorma/metanorma-build-scripts/pull/55 was merged

[2020-12-27 07:07] #46 closed

[2020-12-27 14:58] CAMOBAP opened #57 "Add experimental ruby 3.0"
@ronaldtse should we?

[2020-12-27 16:08] CAMOBAP commented on #56
blocked by https://github.com/metanorma/packed-mn/issues/74

[2020-12-28 01:26] ronaldtse commented on #57
Agree

[2020-12-30 11:24] CAMOBAP opened #58 "Error: POST You have triggered an abuse detection mechanism"
Error: POST https://api.github.com/repos/metanorma/metanorma-ietf/pulls: 403 - You have triggered an abuse detection mechanism and have been temporarily blocked from content creation. Please retry your request again later. // See: https://docs.github.com/v3/#abuse-rate-limits

I faced with this issue today, this is potential blocker for cimas tool

_To be continued..._

[2020-12-30 13:38] CAMOBAP commented on #58
GHA now supports composite steps so finally, we can 'include' some parts of workflow https://github.community/t/is-it-possible-to-reuse-workflow-yaml-to-setup-similar-workflows/17142

Also we can keep many actions in the same repo https://stackoverflow.com/questions/59259783/how-to-combine-two-action-yml-files-in-one-repo

[2021-01-07 07:13] ronaldtse commented on #58
@CAMOBAP I still think we should finish up actions-mn instead of using YAML files. Can you help with them?

[2021-01-07 07:59] ronaldtse commented on #58
We should probably make Cimas adhere to the rate limiting, later on?

[2021-01-30 13:09] CAMOBAP commented on #58
@ronaldtse to be on the same page
 - as far as I understood we can use actions-mn only for "user" repos, we cannot use it for our ruby gems project
 - actions-mn looks working I will start using it for samples repos https://github.com/actions-mn/setup/actions

[2021-01-30 14:21] CAMOBAP commented on #58
Composite actions don't support other actions in it (( https://github.com/actions/runner/issues/646

[2021-01-31 12:15] CAMOBAP commented on #57
Done

[2021-01-31 12:15] #57 closed

[2021-01-31 12:18] CAMOBAP commented on #50
Unfortunatelly there is no way to implement it with the current state of GHA, because tag and commit is different 'actions'

[2021-01-31 12:18] #50 closed

[2021-03-11 14:14] CAMOBAP commented on #53
Implemented already during migration to mn-action/setup

[2021-03-11 14:14] #53 closed

[2021-03-11 15:58] CAMOBAP opened #60 "Add CI config for java projects"
- https://github.com/metanorma/mn2sts
 - https://github.com/metanorma/mn2pdf
 - https://github.com/metanorma/rfc2mn

[2021-03-13 11:35] CAMOBAP opened #61 "METANORMA_CI_PAT_TOKEN token, Repository not found, OR token has insufficient permissions."
- https://github.com/metanorma/metanorma/pull/168#issuecomment-797567992

@ronaldtse could you please check if there is some restrictions where METANORMA_CI_PAT_TOKEN can be used

[2021-03-13 14:11] ronaldtse commented on #61
@CAMOBAP the token is indeed available for use in the repository. It allows read/write of repos. Any further permissions needed?

[2021-03-13 14:51] CAMOBAP commented on #61
@ronaldtse for some reason it works for `metanrorma-cli` repo https://github.com/metanorma/metanorma/pull/168/checks?check_run_id=2101819540, but doesn't work for other repos, for example, `metanorma` https://github.com/metanorma/metanorma/pull/168/checks?check_run_id=2101819540

I will continue investigation

[2021-03-14 00:11] ronaldtse commented on #61
@CAMOBAP maybe this is because there is no secret provided in PRs -- only branches can use those secrets?

[2021-03-14 07:13] CAMOBAP commented on #61
@ronaldtse https://github.com/metanorma/metanorma/pull/168/checks?check_run_id=2101819540 - also PR but it works

[2021-03-15 09:45] CAMOBAP commented on #61
@ronaldtse could you please run

`curl -H "Authorization: token ${METANORMA_CI_PAT_TOKEN}" -H 'Accept: application/vnd.github.everest-preview+json' "https://api.github.com/repos/metanorma/metanorma/dispatches" -d '{"event_type": "notify", "client_payload": {}}`

With the actual value of `METANORMA_CI_PAT_TOKEN`, could you please show me the output of this command

[2021-03-15 09:55] ronaldtse commented on #61
[code]

[2021-03-15 09:59] CAMOBAP commented on #61
Hmm, @ronaldtse will the same curls works for `metanorma-cli`

`curl -H "Authorization: token ${METANORMA_CI_PAT_TOKEN}" -H 'Accept: application/vnd.github.everest-preview+json' "https://api.github.com/repos/metanorma/metanorma-cli/dispatches" -d '{"event_type": "notify", "client_payload": {}}`

[2021-03-15 11:50] ronaldtse commented on #61
@CAMOBAP I just tried again and it works now!

[2021-03-15 11:51] CAMOBAP commented on #61
@ronaldtse so both `metanorma` and `metanorma-cli` works for you, right?

[2021-03-15 13:10] CAMOBAP opened #62 "Migrate all metanorma-model-* repos to LutaML"
+ There is a program to migrate WSD files to LutaML too

[2021-03-15 16:59] CAMOBAP commented on #61
Looks like it works now

[2021-03-15 18:37] CAMOBAP commented on #61
Hmm, actually it works for all other repositories except `metanorma/metanorma` really strange(

[2021-03-16 06:49] ronaldtse commented on #61
@camobap now that you say it, maybe it's about the metanorma/metanorma repo. Indeed, it was lacking access for @metanorma/ci ... now it's in. Thanks for finding that out!

[2021-03-16 07:34] CAMOBAP commented on #61
Works now https://github.com/metanorma/metanorma/pull/169/checks?check_run_id=2119463190

[2021-03-16 07:34] #61 closed

[2021-03-19 10:48] CAMOBAP commented on #58
An interesting project appears which https://github.com/mithro/actions-includes but there is still updates on https://github.community/t/support-for-yaml-anchors/16128/60

[2021-05-01 06:24] CAMOBAP commented on #62
Done

[2021-05-01 06:24] #62 closed

[2021-05-01 06:32] CAMOBAP opened #63 "ietf related repos timeout"
### Problem

For IETF related repositories:
 - https://github.com/metanorma/mn-templates-ietf/pull/19
 - https://github.com/metanorma/mn-samples-ietf/runs/2345263413
 - https://github.com/metanorma/homebrew-metanorma/

We often see timeouts like:
[code]

### Proposed solution

This can be fixed by caching ` ~/.metanorma-ietf-workgroup-cache.json` like already done here:
 - https://github.com/metan

[2021-05-02 13:08] CAMOBAP commented on #45
Tested, the new approach is working as expected:
 - https://github.com/metanorma/metanorma-model-standoc/pull/31 - works with label
 - https://github.com/metanorma/metanorma-model-standoc/pull/32 - doesn't work without label

It Will be propagated on the next CI update

[2021-05-02 13:08] #45 closed

[2021-05-05 04:42] skalee opened #64 "Write proper Rubocop and Hound CI configs with Cimas"
Two files must be present in every Ruby repository: .hound.yml and .rubocop.yml. Following content seems optimal for Metanorma:

- https://github.com/lutaml/expressir/blob/0e4ee005800356f64127f693f8980bb7a542fece/.hound.yml
- https://github.com/lutaml/expressir/blob/0e4ee005800356f64127f693f8980bb7a542fece/.rubocop.yml

Extracted from https://github.com/riboseinc/oss-guides/issues/44.

cc @skalee

[2021-05-05 04:47] skalee commented on #64
@CAMOBAP wrote in riboseinc/oss-guides#44:

No idea, really, I haven't worked with Cimas before. I can only say that both organizations will presumably have the same settings, especially requirement for Ruby 2.4 support. @opoudjis can you confirm?

[2021-05-05 04:57] skalee commented on #64
Well, I must admit that I'm just keeping myself away from that thing, that's all. :)

I seldom work on Metanorma or Relaton, so I don't have much contact with Cimas, I just know that it exists. Gems that I currently maintain are more diverse than these from aforementioned organizations, so I'm not even sure if they could even benefit from Cimas. Also, some of them are used outside of Ribose projec

[2021-05-05 05:12] skalee commented on #64
@CAMOBAP wrote in riboseinc/oss-guides#44:

Personally I don't see much reason in adding yet another file to that setup which is overcomplicated already. I prefer to keep local overrides in `.rubocop.yml`.

Also, Rubocop does have the concept of local configuration files. Obviously, you can still have `.rubocop.yml` like this one:

[code]

and this will work locally, provided that `.rubocop.local.

[2021-05-25 16:57] CAMOBAP opened #65 "Make ruby 3.0 required"
https://github.com/metanorma/metanorma-cli/issues/235#issuecomment-848048091

[2021-05-25 17:26] CAMOBAP commented on #65
We already use `actions-mn/setup@master` in `sample` repos https://github.com/metanorma/metanorma-build-scripts/blob/master/cimas-config/gh-actions/samples/generate.yml#L40

@ronaldtse  do you mean that we should convert the whole workflow like https://github.com/metanorma/metanorma-build-scripts/blob/master/cimas-config/gh-actions/master/rake.yml into one 'meta' action? or anything else

[2021-05-25 18:33] ronaldtse commented on #65
@CAMOBAP I think we also want the "site build" command to be an action. (not the rake ones)

https://github.com/metanorma/metanorma-build-scripts/blob/f258ce0dd0928fa00471a1fa8dd96c304027d17c/cimas-config/gh-actions/samples/generate.yml#L42

e.g. it can have options: which file is the manifest (default `metanorma.yml`), whether to agree to terms, etc.

[2021-05-27 16:08] CAMOBAP commented on #65
@ronaldtse I just rethink this, trying to understand what benefits we gain from convert `run: metanorma site generate --agree-to-terms` into:

[code]

There is not much logic that we can change inside this `actions-mn/site-gen@master` to keep the workflow code unchanged.

[2021-05-28 04:26] ronaldtse commented on #65
The benefit is if we change the shell command arguments again (e.g. if we add another required parameter) we only need to update the GH Action...

[2021-05-28 12:44] CAMOBAP commented on #65
@ronaldtse site-gen action is done in new repo https://github.com/actions-mn/cli

I used a different approach with "composite" actions which is simple and fit perfectly for such utility actions. Let me know if we should create a similar tasks for compile or any other subcommand

[2021-05-29 10:46] CAMOBAP commented on #56
Fixed

[2021-05-29 10:47] #56 closed

[2021-05-31 06:04] #65 closed

[2021-06-02 09:06] CAMOBAP commented on #58
Not much we can do in the scope of this task except waiting... per https://github.community/t/being-dry-centralized-workflows/16548/7

[2021-06-02 09:06] #58 closed

[2021-06-02 10:31] opoudjis commented on #64
Sorry, I too have not responded. I agree that different configs for different orgs is undesirable. The Ruby 2.4 is a current restriction in the Metanorma stack, but that's the only substantive discrepancy.

[2021-06-29 07:40] CAMOBAP opened #66 "Remove ruby 2.4 from matrix"
Also some branches was migrated from `master` to `main`, and looks like `cimas` cannot handle this correctly, so I will address this issue here too

[2021-07-08 12:35] CAMOBAP commented on #66
Done

[2021-07-08 12:35] #66 closed

[2021-07-21 04:35] CAMOBAP commented on #63
The good proposal was made by @ronaldtse here https://github.com/metanorma/metanorma-docker/pull/94#issuecomment-736558819

[2021-07-21 06:23] ronaldtse commented on #63
@CAMOBAP this task will be handled here:

* https://github.com/metanorma/metanorma-ietf/issues/156
* https://github.com/metanorma/metanorma-ietf-data/issues/1

[2021-07-23 11:22] #63 closed

[2021-07-23 11:38] CAMOBAP commented on #60
Unfortunately there is not much common for those repos, I think we can keep them outside of cimas configuration for now

[2021-07-23 11:38] #60 closed

[2021-07-24 13:11] CAMOBAP commented on #64
cimas 's configuration update to update those files in our metanorma repos

[2021-07-24 13:11] #64 closed

[2021-08-17 14:19] opoudjis commented on #60
Note that https://github.com/metanorma/rfc2mn is now archived.

[2021-10-01 12:07] CAMOBAP opened #68 "Add coverage badges"
https://github.com/codecov/codecov-action

@ronaldtse could you please share your opinion about this idea

[2021-10-03 03:36] ronaldtse commented on #68
Good idea!

[2021-10-11 08:43] CAMOBAP opened #69 "Create PULL_REQUEST_TEMPLATE for metanorma organization"
Per https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/ we need:
 - [x] `.github` repository
 - [x] add `PULL_REQUEST_TEMPLATE` to it with checklist to not forget update documentation

Based on https://github.com/metanorma/metanorma.org/issues/494#issuecomment-939809401 discussion

[2021-10-25 13:19] #69 closed, assigned to CAMOBAP

[2021-11-12 03:07] ronaldtse opened #70 "Failure in Docker build when using gemfile-to-bundle-add.sh"
The script at metanorma-build-scripts (https://raw.githubusercontent.com/metanorma/metanorma-build-scripts/master/gemfile-to-bundle-add.sh) fails if the Gemfile is more complex than a per-line gem. We should use Bundler to parse the Gemfile instead of using bash to parse the gems.

https://github.com/metanorma/iso-10303-2/runs/4185531475?check_suite_focus=true
[code]

From https://github.com/metan

[2021-11-12 03:07] ronaldtse commented on #70
Why don't we make this a GH action?

[2021-11-12 03:08] ronaldtse commented on #70
Right now the flow looks like this:

<img width="1005" alt="Screenshot 2021-11-12 at 11 08 09 AM" src="https://user-images.githubusercontent.com/11865/141402380-57e8c24f-2f68-4125-b871-751e903de7c0.png">

Perhaps these two lines can be merged into one "setup" (or "development setup") action?

<img width="990" alt="Screenshot 2021-11-12 at 11 08 29 AM" src="https://user-images.githubusercontent.com

[2021-11-12 09:50] CAMOBAP commented on #70
Fixed. Script now drop comments from Gemfile before processing

[2021-11-12 09:50] #70 closed

[2021-11-12 10:20] ronaldtse commented on #70
Thanks. Doesn't Bundler have a mechanism to add a Gemfile to a packaged bundle?

[2021-11-12 10:24] CAMOBAP commented on #70
@ronaldtse to be honest IDK. The same as IDK why this problem exists at all...

[2021-11-27 08:01] CAMOBAP opened #71 "Finally GHA supports workflow include"
- https://docs.github.com/en/actions/learn-github-actions/reusing-workflows#calling-a-reusable-workflow
 - https://docs.github.com/en/actions/learn-github-actions/reusing-workflows#limitations

We can get rid of cimas tool (run it for the last time)

cc @ronaldtse

[2021-11-29 06:04] CAMOBAP commented on #71
Steps:
 - [ ] create includable workflow for all required workflows
 - [ ] update existing repo configuration with cimas for the last time
 - [ ] make cimas obsolete
 - [ ] remove unnecessary cimas configuration

[2021-12-02 10:02] ronaldtse commented on #71
Agree @CAMOBAP , thanks!

[2021-12-16 10:09] ronaldtse opened #72 "(URGENT) Update metanorma-* flavor gems GHA to use new Python"
All macOS builds are failing because of this:
e.g.
https://github.com/metanorma/metanorma-ietf/runs/4545810645?check_suite_focus=true
<img width="454" alt="image" src="https://user-images.githubusercontent.com/11865/146351700-6060c519-b6db-4b08-8b21-dd674ab16386.png">

GitHub has recently updated their virtual environments, and now Python 3.6 is gone.

[2021-12-30 12:09] CAMOBAP opened #74 "Change default branch to `main`"
I haven't permissions to do this

[2021-12-30 15:39] ronaldtse commented on #74
Done

[2021-12-30 15:39] #74 closed

[2022-01-05 17:35] CAMOBAP commented on #71
@ronaldtse may I ask you to doublecheck that our org's secret `METANORMA_CI_PAT_TOKEN` is available for this repo `metanorma/metanorma-build-scripts`?

[2022-01-05 23:11] ronaldtse commented on #71
Yes it is. METANORMA_CI_PAT_TOKEN

[2022-01-09 08:21] CAMOBAP opened #76 "Add comment to pull request if mn-samples-* failed"
For now, any changes in `metanorma-*` processor triggers [test sample workflow](https://github.com/metanorma/metanorma-build-scripts/blob/main/.github/workflows/sample-test.yml) and [test template workflow](https://github.com/metanorma/metanorma-build-scripts/blob/main/.github/workflows/template-test.yml) for corresponding `mn-samples-*` or `mn-templates-*` repository

### Proposal

It will be nic

[2022-01-09 13:22] ronaldtse commented on #76
@CAMOBAP this is a good idea. In Metanorma.org we have a check links action that can post an issue after the run, have a look.

[2022-01-11 22:44] CAMOBAP commented on #71
@ronaldtse quick update two repos left:
 - https://github.com/metanorma/bipm-si-brochure/pull/166 - it use extra collect command, I think to to implement if better
 - https://github.com/metanorma/mn-samples-mpfa/pull/53 - mpfa processor was removed, I wasn't to configure ci to use the previous metanorma-cli which have it

[2022-01-12 10:28] CAMOBAP commented on #71
@ronaldtse I'm not sure about several PRs, may I ask you to review:
 - https://github.com/metanorma/DGGS2ISO-19170/pull/7
 - https://github.com/metanorma/iso-10303-detached-docs/pull/81
 - https://github.com/metanorma/iso-8601-2/pull/10
 - https://github.com/metanorma/iso-8000-100-ed2/pull/7
 - https://github.com/metanorma/iso-8000-51/pull/8
 - https://github.com/metanorma/iso-690/pull/17
 - https

[2022-01-16 12:43] ronaldtse commented on #72
Already fixed. https://github.com/metanorma/metanorma-ietf/runs/4761188718?check_suite_focus=true

[2022-01-16 12:43] #72 closed

[2022-01-17 11:48] ni4 opened #77 "native-deps-action fails to locate .so file and tries to check .rb one."
Ubuntu CI run from PR https://github.com/rnpgp/ruby-rnp/pull/79 fails to run with the following messages:

[code]

However, `.so` file should be in place:
[code]

Here are two problems:
- why .so file is not found, while it is reported as linked correctly
- `glob.glob()` pattern should be updated to not match `librnp.rb`

[2022-01-18 12:00] #77 closed

[2022-01-27 11:24] ronaldtse commented on #71
@CAMOBAP these are all merged, is this task to be closed? Thanks!

[2022-01-27 11:26] CAMOBAP commented on #71
Yep

[2022-01-27 11:26] #71 closed

[2022-01-27 17:22] CAMOBAP opened #79 "Remove 2.6 from test matrices on 2022-03-31"
More details https://www.ruby-lang.org/en/downloads/branches/

[2022-03-12 06:54] ronaldtse opened #80 "Allow usage of private containers in sample-docker workflow (and probably others)"
These two lines should be flexible enough to allow people to use their private containers (GHCR or Docker Hub) and provide private credentials:

https://github.com/metanorma/metanorma-build-scripts/blob/28c83307924210d1ba7329617c1904ac864efc63/.github/workflows/sample-docker.yml#L17-L18

Right the private credentials are provided like this:
https://github.com/metanorma/mn-samples-nist/blob/41b2802

[2022-03-12 21:54] CAMOBAP commented on #80
Unfortunatelly there is no way to customize
https://github.com/metanorma/metanorma-build-scripts/blob/main/.github/workflows/sample-docker.yml

So I created
https://github.com/metanorma/metanorma-build-scripts/blob/main/.github/workflows/sample-docker-private.yml, which introduced `docker_username` and `docker_token`

Checkout https://github.com/metanorma/mn-samples-nist/blob/main/.github/workflow

[2022-03-12 21:54] #80 closed

[2022-03-13 05:47] ronaldtse commented on #80
Thanks @CAMOBAP !

[2022-03-13 05:47] ronaldtse commented on #79
Ping @CAMOBAP on this, and upgrade to Ruby 3.1.

[2022-03-13 18:07] CAMOBAP commented on #79
Done

[2022-03-13 18:07] #79 closed

[2022-03-13 18:16] CAMOBAP opened #81 "Compile documents in separate jobs before sitegen"
### Intro

To speed up our workflow we can do document compilation in separate jobs. The idea is described here https://code.dblock.org/2021/09/03/generating-task-matrix-by-looping-over-repo-files-with-github-actions.html also we already use this approach for mn-templates-* repos.

### Open questions

 - [x] can `metanorma site generate` reuse previously compiled documents?
 - [x] how can we fetch

[2022-03-13 18:17] CAMOBAP commented on #81
@ronaldtse @opoudjis may I ask you to have a look at open questions, maybe you have answers or some general idea about the task?

[2022-03-14 00:57] ronaldtse commented on #81
Not right now. We have a long standing task here: https://github.com/metanorma/metanorma-cli/issues/232

I don't think that is possible. Especially Relaton entries are only known during compilation.

[2022-03-16 07:27] CAMOBAP opened #82 "Unify workflow for gems with native extensions"
### Intro

We have several gems workflows with native extensions and it will be nice to have a unified workflow for them to simplify maintainability

Classification:
 - a gem with ruby native extension (where we should provide multiple binaries per each minor ruby version, example: https://github.com/lutaml/expressir
 - a gem with a single native binary which loaded through `ffi`, example: https:/

[2022-05-17 09:09] CAMOBAP opened #85 "Metanorma releases too long"
### Problem

Metanorma release takes more than 3h from start to finish (even in case if there is no issues observed)

This happens because we are releasing a lot of gems each release for example for a single  gem like `metanorma` 9 jobs started in parallel.

### What we can do

 - [x] Run CI on "bump commits" only once. For now CI run twice because of push and tag events
 - [x] Support some `#noci

[2022-05-29 22:25] CAMOBAP commented on #85
CI can be skipped with `[skip ci]` in commit message https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/

[2022-05-29 22:32] CAMOBAP commented on #85
For the first item I will try implement approach described in https://wildwolf.name/github-actions-how-to-avoid-running-the-same-workflow-multiple-times/

[2022-05-30 08:51] #85 closed

[2022-06-01 10:06] CAMOBAP opened #87 "Use concerrency to avoid overlaping jobs"
https://docs.github.com/en/actions/using-jobs/using-concurrency

Thanks @opoudjis for suggestion

[2022-06-06 10:30] CAMOBAP opened #89 "Don't run CI for tags on metanorma gems"
### Intro

As part of the https://github.com/metanorma/metanorma-build-scripts/issues/85 I modified the workflow to no run tests twice in case of tag

### Problem

Because we skip job on the main branch in case of tag this affects our release matrix from https://github.com/metanorma/metanorma-release

The solution is not to run tests on tag events. But it still will be nice to see tags in CI histo

[2022-06-07 06:18] CAMOBAP commented on #89
Another proposed solution to show extra badge which will show last release CI status, it seems better to me, I will prepare PR

[2022-06-07 06:18] ronaldtse commented on #89
Thanks @CAMOBAP !

[2022-06-08 21:50] CAMOBAP commented on #87
Done

[2022-06-08 21:50] #87 closed

[2022-06-21 10:24] CAMOBAP opened #90 "Update native-deps-action to use dumpbin instead ldd on windows"
- https://github.com/fontist/ffi-libarchive-binary/pull/14#issuecomment-1161491758

[2022-07-08 03:34] ronaldtse opened #91 "Failure in metanorma-docker run when "debug" gem is included in Gemfile"
This run failed: https://github.com/metanorma/SWF-Corpus_and_IEEEP2874-D2/runs/7245141525?check_suite_focus=true

This action is the location of failure:
[code]

Because the Gemfile contained:
[code]

The error trace:
[code]

[2022-07-11 13:12] CAMOBAP commented on #91
For some reason `RUBYOPT=-rbundler/setup` break gem installation so:
 - `env --unset=RUBYOPT ./gemfile-to-bundle-add.sh Gemfile`
 - `./gemfile-to-bundle-add.sh Gemfile` or `bundle install` doesn't

Investigating what this mean (why we need it) and potential workarounds/fixes

[2022-07-11 20:36] CAMOBAP commented on #91
In fact, there was two issues:
 - missing gcc, because we tried to minimize our docker image, we uninstall gcc which saves about 300Mb of size
 - `RUBYOPT=-rbundler/setup` as far as I understand it stands for `require "bundler/setup"`. I didn't find explicit forbid for this, but logically there is no sens to require (and may lead to such side effects) `bundler/setup` during `bundle install`

Propo

[2022-07-13 12:04] ronaldtse opened #92 "Should we change this repo to just "scripts" instead of "metanorma-build-scripts"?"
Should we change this repo to just "scripts" instead of "metanorma-build-scripts"?

Feels a bit redundant with such a long name. This repository won't be used by others outside the project.

[2022-07-21 16:41] ronaldtse commented on #92
As agreed with @CAMOBAP , it will be "ci".

[2022-07-21 16:41] ronaldtse commented on #92
Done.

[2022-07-21 16:41] #92 closed

[2022-08-15 11:47] #91 closed

[2022-09-05 06:13] ronaldtse opened #93 "Publishing in Rubygems cannot require bundler because unreleased dependencies cannot be met"
This line needs to be removed.

https://github.com/metanorma/ci/blob/9c922842fe85153304958897a7fac52b06597749/.github/workflows/rubygems-release.yml#L34

As per https://github.com/metanorma/isodoc/issues/432

Failure: https://github.com/metanorma/isodoc/actions/runs/2990877739

[2022-09-05 06:15] #93 closed

[2022-09-06 06:46] CAMOBAP opened #94 "Automerge PR workflow v2"
### Background

We already had this task in the past https://github.com/metanorma/ci/issues/45 after resolving issues it worked at some point.

But for the last update, it stop working for instance this PR https://github.com/metanorma/metanorma-model-standoc/pull/39

### Action items

 - [ ] investigate why it breaks
 - [ ] review again approaches to implement automerge
 - [ ] implement approach

[2022-11-27 22:18] #89 closed